nav, ul, h2 {
     display: flex;
     justify-content: left;
     align-items: center;
     font-family: halcom, sans-serif;
     font-weight: 700;
     font-style: normal;
}

li {

    margin-left: 125px;
    list-style: none;
    font-size:large;
}


footer {  
     display: flex;
     justify-content: left;
     align-items: center;
     font-family: halcom, sans-serif;
     font-weight: 700;
    
}


.hero {
    font-family: halcom, sans-serif ;
    background-image: ;
}

.portfolio {
    font-family: halcom, sans-serif;
}

.hero {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/rainbow.jpg");
    background-size: cover;
    background-position: center;

}

h2 {
    font-size: xx-large;
}

.portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

