* {
    box-sizing: border-box;
    padding: 0;
    margin: 20;
    font-kerning: normal;
}

nav, ul, h2 {
     display: flex;
     justify-content: left;
     align-items: center;
     font-family: prometo, sans-serif;
     font-weight: 500;
     font-style: normal;
}

li {
   
    margin-right: 50px;
    list-style: none;
    font-size:large;
}


footer {  
     display: flex;
     justify-content: left;
     align-items: center;
     font-family: prometo, sans-serif;
     font-weight: 700;
    
}


.hero {
    font-family: halcom, sans-serif ;
    background-image: ;
}


.hero {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/rainbow.jpg");
    background-size: cover;
    background-position: center;

}

h2 {
    font-size: xx-large;
    
}

.portfolio {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;
    font-family: prometo, sans-serif;
    font-weight: 500;
   
}

.project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

