nav, ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: halcom, sans-serif;
     font-weight: 700;
     font-style: normal;
}

li {
    margin-left: 25px;
    list-style: none;
}

footer {
    font-family: halcom, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hero {
    font-family: halcom, sans-serif ;
    background-image: ;
}

.portfolio {
    font-family: halcom, sans-serif;
}

.hero {
    height: 700px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/rainbow.jpg");
    background-size: cover;
    background-position: center;

}

h2 {
    font-size: xx-large;
}