nav, ul {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-family: halcom, sans-serif;
     font-weight: 700;
     font-style: normal;
}

li {
    margin-left: 25px;
    list-style: none;
}

footer {
    font-family: halcom, sans-serif;
    font-weight: 500;
    font-style: normal;
}
}