nav, ul {
    height: 100px;
    background-color: rgb(9, 100, 106);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}   

li {
    margin-left: 25px;
    list-style: none;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
}